<h1>Sửa </h1>
<form action="/update" method="POST">
    ID <input type="number" name="id"value="<%= user.id %>">  <br>
    ID <input type="number" name="id"value="<%= user.id %>">  <br>
    Address : <input type="text" name="address"value="<%= user.address %>"> <br>
    GetNotification: <input type="text" name="getnotification"value="<%= user.getnotification %> "><br>
    Vetified: <input type="text" name="verified"value="<%= user.verified %> "><br>
    GetOpen: <input type="text" name="getopen" value="<%= user.getopen %> "><br>
    <button type="submit">  Sửa  </button>
</form>