<!DOCTYPE html>
<html>
  <head>
    <title>User 3</title>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> User 3</h1>
    <a href="/form-add"><button>Thêm </button></a><br>

    <table border="1">
      <tr>
        <th> ID</th>
        <th> ID</th>
        <th> Address</th>
        <th> GetNotification </th>
        <th> Verified</th>
        <th> GetOpen</th>
        <th>ACTION</th>
      </tr>
      <% users.forEach(item => { %>
        <tr>
      <td><%= item._id %></td>
      <td><%= item._id %></td>
      <td><%= item.address %></td>
      <td><%= item.getnotification %></td>
      <td><%= item.verified %></td>
      <td><%= item.getopen %></td>
      <td><a href="/form-update/<%= item._id %>">Update</a>| |<a href="/form-delete/<%= item._id %>">Delete</a></td>
      </tr>
    <% }) %>

     
      </table>

  </body>
</html>
